In [1]:
import pandas as pd

In [2]:
# load module

data = pd.read_csv('TCGA Barcodes/Modules/LUAD_M1.csv')

data

    LUAD_M1
0      RPS8
1      RPS9
2      RPS6
3      KRT7
4    ATP1B1
..      ...
127   RPS4X
128   DMBT1
129    AGR2
130   RPL7A
131    CD55

[132 rows x 1 columns]

In [3]:
# load NFE genes, for LUAD

LUAD_NFE = pd.read_csv('LUAD NFE + Median.csv', sep=",")

LUAD_NFE

    HUGO_SYMBOL  High Score  Count  Median
0         STK11           8      2     7.5
1          TP53           8     45     5.0
2          GNAS           7      3     6.0
3           NNT           7      3     6.0
4          KRAS           7      8     5.5
..          ...         ...    ...     ...
500      ADRBK1           1      1     1.0
501        TFR2           1      1     1.0
502          TF           1      1     1.0
503      CACNB2           1      1     1.0
504       KCNK6           1      1     1.0

[505 rows x 4 columns]

In [4]:
# load TracerX genes

TracerX = pd.read_csv('TCGA Barcodes\Modules\TracerXGenes.csv')

TracerX

   Tracer X Genes
0            BRAF
1            NRAS
2          NFE2L2
3          PLXNB2
4           STK11
..            ...
60         CTNNB1
61            MGA
62           EGFR
63          FBXW7
64          STIM1

[65 rows x 1 columns]

In [5]:
# load CGC genes

CGC = pd.read_csv('TCGA Barcodes\Modules\CGC Cancer Genes Tier 1 + 2 - Clean.csv')

CGC

    CGC Gene
0       A1CF
1       ABI1
2       ABL1
3       ABL2
4      ACKR3
..       ...
718   ZNF429
719   ZNF479
720   ZNF521
721    ZNRF3
722    ZRSR2

[723 rows x 1 columns]

In [6]:
# load KEGG metabolism genes 

KEGG_M = pd.read_csv('TCGA Barcodes\Modules\KEGG Pathways - Metabolism.csv')

KEGG_M

        GENE   PATH_TYPE
0      ADCY4  METABOLISM
1      ADCY5  METABOLISM
2      ADCY6  METABOLISM
3      ADCY7  METABOLISM
4      ADCY8  METABOLISM
...      ...         ...
1108  NDUFB4  METABOLISM
1109  NDUFS3  METABOLISM
1110  NDUFB5  METABOLISM
1111    CYC1  METABOLISM
1112   COX11  METABOLISM

[1113 rows x 2 columns]

In [7]:
# test count with NFE

NFE_count = (LUAD_NFE['HUGO_SYMBOL']).isin(data['LUAD_M1'])

NFE_count.sum()

3

In [8]:
# test count with TracerX

TracerX_count = TracerX['Tracer X Genes'].isin(data['LUAD_M1'])

TracerX_count.sum()

0

In [9]:
# summary of LUAD modules 
# note: could clean up and put with LUSC.

LUAD_module = ['LUAD_M1', 'LUAD_M2', 'LUAD_M3', 'LUAD_M4']

for item in LUAD_module: 
    data = pd.read_csv('TCGA Barcodes/Modules/' + item + '.csv')
    NFE_count = LUAD_NFE['HUGO_SYMBOL'].isin(data[item])
    TracerX_count = TracerX['Tracer X Genes'].isin(data[item])
    CGC_count = CGC['CGC Gene'].isin(data[item])
    gene_count = data.size
    KEGG_count = KEGG_M['GENE'].isin(data[item])
    
    print (item, gene_count,'genes,', NFE_count.sum(), 'NFE genes,', TracerX_count.sum(), 'Tracer X genes,', 
           CGC_count.sum(), 'CGC genes,', KEGG_count.sum() , 'KEGG Metabolism genes', '\n')

LUAD_M1 132 genes, 3 NFE genes, 0 Tracer X genes, 6 CGC genes, 13 KEGG Metabolism genes

LUAD_M2 88 genes, 2 NFE genes, 1 Tracer X genes, 11 CGC genes, 9 KEGG Metabolism genes

LUAD_M3 52 genes, 7 NFE genes, 1 Tracer X genes, 3 CGC genes, 4 KEGG Metabolism genes

LUAD_M4 30 genes, 0 NFE genes, 0 Tracer X genes, 5 CGC genes, 0 KEGG Metabolism genes

In [10]:
# LUSC

LUSC_module = ['LUSC_M1', 'LUSC_M2', 'LUSC_M3', 'LUSC_M4', 'LUSC_M5', 'LUSC_M6']
LUSC_NFE = pd.read_csv('LUSC NFE + Median.csv', sep=",")


for item in LUSC_module: 
    data = pd.read_csv('TCGA Barcodes/Modules/' + item + '.csv')
    NFE_count = (LUSC_NFE['HUGO_SYMBOL']).isin(data[item])
    TracerX_count = TracerX['Tracer X Genes'].isin(data[item])
    CGC_count = CGC['CGC Gene'].isin(data[item])
    gene_count = data.size
    KEGG_count = KEGG_M['GENE'].isin(data[item])
    
    print (item, gene_count,'genes,', NFE_count.sum(), 'NFE genes,', TracerX_count.sum(), 'Tracer X genes,', 
           CGC_count.sum(), 'CGC genes,', KEGG_count.sum() , 'KEGG Metabolism genes', '\n')

LUSC_M1 108 genes, 5 NFE genes, 1 Tracer X genes, 15 CGC genes, 9 KEGG Metabolism genes

LUSC_M2 87 genes, 1 NFE genes, 1 Tracer X genes, 4 CGC genes, 5 KEGG Metabolism genes

LUSC_M3 60 genes, 2 NFE genes, 0 Tracer X genes, 4 CGC genes, 0 KEGG Metabolism genes

LUSC_M4 59 genes, 0 NFE genes, 1 Tracer X genes, 6 CGC genes, 0 KEGG Metabolism genes

LUSC_M5 36 genes, 2 NFE genes, 3 Tracer X genes, 6 CGC genes, 4 KEGG Metabolism genes

LUSC_M6 29 genes, 2 NFE genes, 0 Tracer X genes, 1 CGC genes, 18 KEGG Metabolism genes

In [11]:
# testing how to put in the NFE scores 

data = pd.read_csv('TCGA Barcodes/Modules/LUAD_M3.csv')

NFE_genes = (data['LUAD_M3']).isin(LUAD_NFE['HUGO_SYMBOL'])

NFE_genes

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
30     True
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40     True
41     True
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
Name: LUAD_M3, dtype: bool

In [12]:
data['NFE Gene'] = NFE_genes

In [13]:
NFE_True = data.loc[data['NFE Gene'] == True]

NFE_True

   LUAD_M3  NFE Gene
2     MMP1      True
10      TF      True
11    CPS1      True
26   ERBB2      True
30     FGB      True
40    GNAS      True
41    LCN2      True

In [14]:
Max_dict = LUAD_NFE.set_index('HUGO_SYMBOL')['High Score'].to_dict()

In [15]:
NFE_True['High Score'] = NFE_True.LUAD_M3.map(Max_dict)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
NFE_True

   LUAD_M3  NFE Gene  High Score
2     MMP1      True           2
10      TF      True           1
11    CPS1      True           4
26   ERBB2      True           4
30     FGB      True           2
40    GNAS      True           7
41    LCN2      True           1

In [27]:
# do for all LUAD 

LUAD_module = ['LUAD_M1', 'LUAD_M2', 'LUAD_M3']

for item in LUAD_module: 
    data = pd.read_csv('TCGA Barcodes/Modules/' + item + '.csv')
    NFE_genes = (data[item]).isin(LUAD_NFE['HUGO_SYMBOL'])
    data['NFE Gene'] = NFE_genes
    NFE_True = data.loc[data['NFE Gene'] == True]
    
    Max_dict = LUAD_NFE.set_index('HUGO_SYMBOL')['High Score'].to_dict()
    NFE_True['High Score'] = NFE_True[item].map(Max_dict)
    
    count_dict = LUAD_NFE.set_index('HUGO_SYMBOL')['Count'].to_dict()
    NFE_True['Count'] = NFE_True[item].map(count_dict)
    
    median_dict = LUAD_NFE.set_index('HUGO_SYMBOL')['Median'].to_dict()
    NFE_True['Median'] = NFE_True[item].map(median_dict)
    
    NFE_True['Metabolic'] = (NFE_True[item]).isin(KEGG_M['GENE'])
    
    NFE_True['Metabolic'] = (NFE_True[item]).isin(KEGG_M['GENE'])
    
    print(NFE_True, '\n')

    LUAD_M1  NFE Gene  High Score  Count  Median  Metabolic
70    RPS16      True           4      1     4.0      False
106  RPS15A      True           5      1     5.0      False
108    CBR1      True           4      1     4.0       True

   LUAD_M2  NFE Gene  High Score  Count  Median  Metabolic
46    CTSE      True           4      1     4.0      False
47  SPTBN1      True           2      1     2.0      False

   LUAD_M3  NFE Gene  High Score  Count  Median  Metabolic
2     MMP1      True           2      3     1.0      False
10      TF      True           1      1     1.0      False
11    CPS1      True           4      2     3.0       True
26   ERBB2      True           4      1     4.0      False
30     FGB      True           2      1     2.0      False
40    GNAS      True           7      3     6.0      False
41    LCN2      True           1      1     1.0      False

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
LUSC_module = ['LUSC_M1', 'LUSC_M2', 'LUSC_M3', 'LUSC_M5', 'LUSC_M6']

for item in LUSC_module: 
    data = pd.read_csv('TCGA Barcodes/Modules/' + item + '.csv')
    NFE_genes = (data[item]).isin(LUSC_NFE['HUGO_SYMBOL'])
    data['NFE Gene'] = NFE_genes
    NFE_True = data.loc[data['NFE Gene'] == True]
    
    Max_dict = LUSC_NFE.set_index('HUGO_SYMBOL')['High Score'].to_dict()
    NFE_True['High Score'] = NFE_True[item].map(Max_dict)
    
    count_dict = LUSC_NFE.set_index('HUGO_SYMBOL')['Count'].to_dict()
    NFE_True['Count'] = NFE_True[item].map(count_dict)
    
    median_dict = LUSC_NFE.set_index('HUGO_SYMBOL')['Median'].to_dict()
    NFE_True['Median'] = NFE_True[item].map(median_dict)
    
    NFE_True['Metabolic'] = (NFE_True[item]).isin(KEGG_M['GENE'])
    
    print(NFE_True, '\n')

   LUSC_M1  NFE Gene  High Score  Count  Median  Metabolic
52    TP63      True           3      2     2.5      False
56    WARS      True           2      1     2.0       True
82    LDHB      True           4      1     4.0       True
90     FGG      True           1      1     1.0      False
92     FOS      True           5      1     5.0      False

  LUSC_M2  NFE Gene  High Score  Count  Median  Metabolic
1   ACTN4      True           4      1     4.0      False

   LUSC_M3  NFE Gene  High Score  Count  Median  Metabolic
5      JUP      True           2      1     2.0      False
43     PKM      True           3      1     3.0      False

   LUSC_M5  NFE Gene  High Score  Count  Median  Metabolic
14   FGFR3      True           4      1     4.0      False
23    EGFR      True           4      2     4.0      False

   LUSC_M6  NFE Gene  High Score  Count  Median  Metabolic
1     CBR1      True           2      1     2.0       True
21     GPI      True           3      2     2.5       True

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
LUSC_module = ['LUSC_M1', 'LUSC_M2', 'LUSC_M3', 'LUSC_M5', 'LUSC_M6']

for item in LUSC_module: 
    data = pd.read_csv('TCGA Barcodes/Modules/' + item + '.csv')
    NFE_genes = (data[item]).isin(LUSC_NFE['HUGO_SYMBOL'])
    data['NFE Gene'] = NFE_genes
    NFE_True = data.loc[data['NFE Gene'] == True]
    
    NFE_True['Metabolic'] = (NFE_True[item]).isin(KEGG_M['GENE'])
    
    
    print(NFE_True, '\n')

   LUSC_M1  NFE Gene  Metabolic
52    TP63      True      False
56    WARS      True       True
82    LDHB      True       True
90     FGG      True      False
92     FOS      True      False

  LUSC_M2  NFE Gene  Metabolic
1   ACTN4      True      False

   LUSC_M3  NFE Gene  Metabolic
5      JUP      True      False
43     PKM      True      False

   LUSC_M5  NFE Gene  Metabolic
14   FGFR3      True      False
23    EGFR      True      False

   LUSC_M6  NFE Gene  Metabolic
1     CBR1      True       True
21     GPI      True       True

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.