In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp


file = pd.read_csv('1. All LUAD LUSC 4+.csv')

file

      LUAD   LUSC
0     TP53   TP53
1    STK11   PTEN
2      NNT    AGA
3     GNAS  FBXW7
4     KRAS    DLD
..     ...    ...
404    NaN    NaN
405    NaN    NaN
406    NaN    NaN
407    NaN    NaN
408    NaN    NaN

[409 rows x 2 columns]

In [2]:
LUAD = file['LUAD']
LUAD = LUAD.dropna()

LUAD

0         TP53
1        STK11
2          NNT
3         GNAS
4         KRAS
        ...
166    SEC14L3
167       PTEN
168       RERG
169       CBR1
170     ATP5A1
Name: LUAD, Length: 171, dtype: object

In [3]:
LUSC = file['LUSC']
LUSC = LUSC.dropna()

LUSC

0       TP53
1       PTEN
2        AGA
3      FBXW7
4        DLD
       ...
143     PRCP
144    NAA50
145    NAA60
146     LGSN
147      LEP
Name: LUSC, Length: 148, dtype: object

In [4]:
LUADin = LUAD.isin(LUSC)

LUADin.sum()

27

In [5]:
LUSCin = LUSC.isin(LUAD)

LUSCin.sum()

27

In [6]:
print ('LUAD Genes:',len(LUAD), round((LUADin.sum()/LUAD.size)*100,2),'%')
print ('LUSC Genes:',len(LUSC),round((LUSCin.sum()/LUSC.size)*100,2),'%')

LUAD Genes: 171 15.79 %
LUSC Genes: 148 18.24 %

In [7]:


CGC_file = pd.read_csv('1. CGC Cancer Genes Tier 1 + 2.csv')

CGC_file

    CGC Gene
0       A1CF
1       ABI1
2       ABL1
3       ABL2
4      ACKR3
..       ...
718   ZNF429
719   ZNF479
720   ZNF521
721    ZNRF3
722    ZRSR2

[723 rows x 1 columns]

In [8]:
CGC = CGC_file['CGC Gene']

LUAD_CGC = LUAD.isin(CGC)
LUSC_CGC = LUSC.isin(CGC)

In [9]:
print ('LUAD/CGC Overlap:',len(LUAD), sum(LUAD_CGC), round((LUAD_CGC.sum()/LUAD.size)*100,2),'%')
print ('LUSC/CGC Overlap:',len(LUSC), sum(LUSC_CGC), round((LUSC_CGC.sum()/LUSC.size)*100,2),'%')

LUAD/CGC Overlap: 171 38 22.22 %
LUSC/CGC Overlap: 148 33 22.3 %

In [10]:
Tx_file = pd.read_csv('1. TracerXGenes.csv')

Tx_file

   Tracer X Genes
0            BRAF
1            NRAS
2          NFE2L2
3          PLXNB2
4           STK11
..            ...
60         CTNNB1
61            MGA
62           EGFR
63          FBXW7
64          STIM1

[65 rows x 1 columns]

In [11]:
Tx = Tx_file['Tracer X Genes']

LUAD_Tx = LUAD.isin(Tx)
LUSC_Tx = LUSC.isin(Tx)

In [12]:
print ('LUAD/Tx Overlap:',len(LUAD), sum(LUAD_Tx), round((LUAD_Tx.sum()/LUAD.size)*100,2),'%')
print ('LUSC/Tx Overlap:',len(LUSC), sum(LUSC_Tx), round((LUSC_Tx.sum()/LUSC.size)*100,2),'%')

LUAD/Tx Overlap: 171 12 7.02 %
LUSC/Tx Overlap: 148 16 10.81 %