In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp


file = pd.read_csv('exp09_genelist_luad_lusc.csv')

file

     _LUAD  _LUSC
0    ACOT6   ABL2
1    ACTN2  ACTN2
2    ADCY5  ACTN4
3     AKT1  ADCY2
4     AKT1  ADCY9
..     ...    ...
122   UPP1    NaN
123   UPP2    NaN
124  WDR17    NaN
125  WDR53    NaN
126   YES1    NaN

[127 rows x 2 columns]

In [2]:
LUAD = file['_LUAD']
LUAD = LUAD.dropna()

LUAD

0      ACOT6
1      ACTN2
2      ADCY5
3       AKT1
4       AKT1
       ...
122     UPP1
123     UPP2
124    WDR17
125    WDR53
126     YES1
Name: _LUAD, Length: 127, dtype: object

In [3]:
LUSC = file['_LUSC']
LUSC = LUSC.dropna()

LUSC

0       ABL2
1      ACTN2
2      ACTN4
3      ADCY2
4      ADCY9
       ...
99      TP63
100     TPK1
101    TPST2
102    WDR59
103     YES1
Name: _LUSC, Length: 104, dtype: object

In [4]:
LUADin = LUAD.isin(LUSC)

LUADin.sum()

33

In [5]:
LUSCin = LUSC.isin(LUAD)

LUSCin.sum()

31

In [6]:
print ('LUAD Genes:',len(LUAD), round((LUADin.sum()/LUAD.size)*100,2),'%')
print ('LUSC Genes:',len(LUSC),round((LUSCin.sum()/LUSC.size)*100,2),'%')

LUAD Genes: 127 25.98 %
LUSC Genes: 104 29.81 %